.check-form > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: .2em;

  margin: .5em 0;
}

.check-form input {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px black solid;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  padding-left: .5em;
}
